In [1]:
import pandas as pd
import numpy as np
import os 
import functools
from functools import reduce

In [2]:
filename = "account_new_indicator.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('account_new_indicator.csv', index = None)

In [3]:
df_newId = pd.read_csv('account_new_indicator.csv')
df_newId.head()

                                    ac_id  new_account_indicator
0  ACb1711af2-92c1-430c-ba0e-840d6139939c                      1
1  AC1c46776c-e9a2-406a-9edb-6abd04471023                      1
2  AC21919775-c797-497d-8eae-157fdd71f9f6                      1
3  AC2876beb8-c307-4499-a3d2-abd4b26b566d                      1
4  ACf59d8398-07b7-44d9-8926-73520fc3f2b4                      1

In [4]:
df_newId.shape

(900000, 2)

In [5]:
nan_count = np.sum(df_newId.isnull(), axis = 0)
nan_count

ac_id                    0
new_account_indicator    0
dtype: int64

In [6]:
filename = "account_tenure.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('account_tenure.csv', index = None)
df_tenure = pd.read_csv('account_tenure.csv')
df_tenure.head()

                                    ac_id  member_since_in_months
0  ACebd244ca-9b9f-4371-926c-9d424a8d5fe8                      57
1  AC04451007-0259-484a-a7f0-4b1c976c24f0                      78
2  AC669f1741-d33d-4128-8fb9-2fa17a08faa5                      85
3  AC3ce6890c-1023-4792-8b24-e8ea5fd7a961                      83
4  AC5f411b49-4472-4088-9e04-a4e3bf969364                      98

In [7]:
df_tenure.shape

(806172, 2)

In [8]:
nan_count = np.sum(df_tenure.isnull(), axis = 0)
nan_count

ac_id                     0
member_since_in_months    0
dtype: int64

In [9]:
filename = "account_cycle_tenure.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('account_cycle_tenure.csv', index = None)
df_cycle_tenure = pd.read_csv('account_cycle_tenure.csv')
df_cycle_tenure.head()

                                    ac_id cycle_dt payment_due_dt
0  AC426748db-ea46-4d4b-871d-daf2f6f4dd42  3/29/18        4/24/18
1  AC4c3eb8e1-453c-4a3d-9a31-7049effa0d1a  3/29/18        4/24/18
2  AC2b35a028-0479-4f02-86c9-9aa3382f49b3  3/29/18        4/24/18
3  ACd733d78b-0db5-450b-bf19-d1f371e073fb  3/29/18        4/24/18
4  ACb11c3ad1-f50f-4ef6-9517-95c8f436a911  3/29/18        4/24/18

In [10]:
df_cycle_tenure.shape

(805869, 3)

In [11]:
filename = "spend_active_indicator.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('spend_active_indicator.csv', index = None)
df_activeId = pd.read_csv('spend_active_indicator.csv')
df_activeId.head()
df_activeId.shape

(900000, 2)

In [12]:
filename = "account.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('account.csv', index = None)
df_account = pd.read_csv('account.csv')
df_account.head()
df_account.shape

(900000, 1)

In [13]:
filename = "spend_balance_active_indicator.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('spend_balance_active_indicator.csv', index = None)
df_balanceId = pd.read_csv('spend_balance_active_indicator.csv')
df_balanceId.head()
df_balanceId.shape

(900000, 2)

In [14]:
filename = "spend_high_utilized_indicator.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('spend_high_utilized_indicator.csv', index = None)
df_utId = pd.read_csv('spend_high_utilized_indicator.csv')
df_utId.head()
df_utId.shape

(900000, 2)

In [15]:
filename = "spend_revolving_aif_indicator.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('spend_revolving_aif_indicator.csv', index = None)
df_revId = pd.read_csv('spend_revolving_aif_indicator.csv')
df_revId.head()
df_revId.shape

(900000, 2)

In [16]:
filename = "spend_se_spend_indicator.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('spend_se_spend_indicator.csv', index = None)
df_spendId = pd.read_csv('spend_se_spend_indicator.csv')
df_spendId.head()
df_spendId.shape

(900000, 2)

In [17]:
filename = "../web-and-purchase_logs/purchase_records.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('purchase_records.csv', index = None)
df_purchase = pd.read_csv('purchase_records.csv')
df_purchase.columns = ['ac_id', 'purchase_date']
df_purchase.head()
df_purchase['ac_id'].unique()

array(['AC3c8d6ef5-098e-421f-aad4-a563817aa655',
       'AC916c16ac-344c-4654-b461-0994faf15c93',
       'ACfd2bc854-d75c-400f-b96e-c4930e876c0f', ...,
       'ACa0106d0d-d32f-414f-a88b-1786012f76e7',
       'AC2133ea74-4b59-4bd0-9945-465d03ea0891',
       'ACc00c4a8c-121a-4133-8827-690209fbf1b4'], dtype=object)

In [18]:
df_purchase['ac_id'].unique().size

899750

In [19]:
filename = "../web-and-purchase_logs/webvisit.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('webvisit.csv', index = None)
df_webvisit = pd.read_csv('webvisit.csv')
df_webvisit.columns = ['ac_id', 'visited_date', 'visited_page']
df_webvisit.head()

                                    ac_id visited_date   visited_page
0  ACce4cd8ea-8b3d-4767-9609-b353d1f633c0      6/17/17
1  AC7d351059-47ef-4011-91d6-1ad803204854      6/17/17      MYACCOUNT
2  AC763265f0-40ac-400f-ad11-897ccdeb7d23      6/17/17        REWARDS
3  ACd89983be-b4e9-4e84-8936-f055f4ed3e7d      6/17/17  PRICINGENGINE
4  AC8ee59710-eb2f-4b48-a5c5-ae1627aba281      6/17/17  PRICINGENGINE

In [20]:
df_webvisit.shape

(999999, 3)

In [21]:
df_webvisit['ac_id'].unique().size

603630

In [22]:
filename = "../web-and-purchase_logs/purchase_records.txt"
df = pd.read_csv(filename, delimiter = '\t')
df.to_csv('purchase_records.csv', index = None)
df_purchaseRecords = pd.read_csv('purchase_records.csv')
df_purchaseRecords.columns = ['ac_id', 'purchase_date']
df_purchaseRecords.head()

                                    ac_id purchase_date
0  AC3c8d6ef5-098e-421f-aad4-a563817aa655       6/17/17
1  AC916c16ac-344c-4654-b461-0994faf15c93       6/17/17
2  ACfd2bc854-d75c-400f-b96e-c4930e876c0f       6/17/17
3  ACe9aa7f4e-0e40-454e-883f-b0adb2ec0055       6/17/17
4  ACf00c42d0-b71f-4ec5-bdeb-697e36eece24       6/17/17

In [23]:
df_purchaseRecords.shape

(7229673, 2)

In [24]:
df_list = [df_tenure, df_newId, df_cycle_tenure, df_activeId, df_balanceId, df_utId, df_revId, df_spendId]
# df_spendId, df_webvisit
# grab first dataframe
# do inner join,
all_merged = df_list[0]
# loop through all but first data frame
for to_merge in df_list[1:]:
    # result of merge replaces first or previously
    # merged data frame w/ all previous fields
    all_merged = pd.merge(
        left=all_merged
        ,right=to_merge
        ,how='outer'
        ,on=['ac_id']
        )

In [25]:
all_merged.shape

(1173559, 10)

In [26]:
all_merged.head()

,ac_id,member_since_in_months,new_account_indicator,cycle_dt,payment_due_dt,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant
0,ACebd244ca-9b9f-4371-926c-9d424a8d5fe8,57.0,0,3/26/18,4/20/18,0,0,0,0,0
1,ACebd244ca-9b9f-4371-926c-9d424a8d5fe8,174.0,0,3/26/18,4/20/18,0,0,0,0,0
2,ACebd244ca-9b9f-4371-926c-9d424a8d5fe8,132.0,0,3/26/18,4/20/18,0,0,0,0,0
3,AC04451007-0259-484a-a7f0-4b1c976c24f0,78.0,0,3/2/18,3/27/18,1,0,0,0,0
4,AC04451007-0259-484a-a7f0-4b1c976c24f0,182.0,0,3/2/18,3/27/18,1,0,0,0,0

In [27]:
all_merged['ac_id'].unique().size

900000

In [28]:
all_merged.describe()

,member_since_in_months,new_account_indicator,spend_active,is_active_balance,has_credit_limit_reached,is_revolving,has_spend_at_any_merchant
count,806172.000000,1.173559e+06,1.173559e+06,1.173559e+06,1.173559e+06,1.173559e+06,1.173559e+06
mean,154.707471,2.838375e-03,8.231235e-01,1.176609e-01,1.671667e-02,5.119811e-02,1.068374e-01
std,119.945534,5.320076e-02,3.815643e-01,3.222063e-01,1.282078e-01,2.204017e-01,3.089065e-01
min,-1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,54.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,132.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,227.000000,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,790.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [29]:
nan_count = np.sum(all_merged.isnull(), axis = 0)
nan_count

ac_id                             0
member_since_in_months       367387
new_account_indicator             0
cycle_dt                     122921
payment_due_dt               122921
spend_active                      0
is_active_balance                 0
has_credit_limit_reached          0
is_revolving                      0
has_spend_at_any_merchant         0
dtype: int64

In [30]:
all_merged['member_since_in_months'].fillna(value=all_merged['member_since_in_months'].mean(), inplace=True)

In [31]:
nan_count = np.sum(all_merged.isnull(), axis = 0)
nan_count

ac_id                             0
member_since_in_months            0
new_account_indicator             0
cycle_dt                     122921
payment_due_dt               122921
spend_active                      0
is_active_balance                 0
has_credit_limit_reached          0
is_revolving                      0
has_spend_at_any_merchant         0
dtype: int64

In [32]:
import scipy.stats as stats

In [33]:
df_purchaseRecords

                                          ac_id purchase_date
0        AC3c8d6ef5-098e-421f-aad4-a563817aa655       6/17/17
1        AC916c16ac-344c-4654-b461-0994faf15c93       6/17/17
2        ACfd2bc854-d75c-400f-b96e-c4930e876c0f       6/17/17
3        ACe9aa7f4e-0e40-454e-883f-b0adb2ec0055       6/17/17
4        ACf00c42d0-b71f-4ec5-bdeb-697e36eece24       6/17/17
...                                         ...           ...
7229668  ACbf5928d9-21c9-41e3-9a5b-028a7bf1b86b       9/18/17
7229669  ACdeedc451-6f14-4ae5-94c3-2accf26077ef       9/18/17
7229670  AC7f8d26bd-8b0a-43e4-a4ab-d8e0f6dad769       9/18/17
7229671  AC545373c8-ea6a-46c0-b458-e64ee88dc305       9/18/17
7229672  AC4b59615a-8e60-4ed0-b37f-cc93d92757b7       9/18/17

[7229673 rows x 2 columns]

In [34]:
df_webvisit

                                         ac_id visited_date   visited_page
0       ACce4cd8ea-8b3d-4767-9609-b353d1f633c0      6/17/17
1       AC7d351059-47ef-4011-91d6-1ad803204854      6/17/17      MYACCOUNT
2       AC763265f0-40ac-400f-ad11-897ccdeb7d23      6/17/17        REWARDS
3       ACd89983be-b4e9-4e84-8936-f055f4ed3e7d      6/17/17  PRICINGENGINE
4       AC8ee59710-eb2f-4b48-a5c5-ae1627aba281      6/17/17  PRICINGENGINE
...                                        ...          ...            ...
999994  AC7b85dd54-70e2-4c5a-a1cd-66dd15280f81      9/18/17        REWARDS
999995  ACa9452768-3319-4ffc-9506-1ac344e0017c      9/18/17
999996  ACc2db57f2-16cc-4593-8529-4890c37678ad      9/18/17        REWARDS
999997  AC93960bf7-a77a-4ff9-9c3a-9dc8cdba9d5a      9/18/17      MYACCOUNT
999998  ACc1913044-4541-4195-9d7a-5e2b138799e6      9/18/17  PRICINGENGINE

[999999 rows x 3 columns]

In [35]:
df_group = df_webvisit.groupby(['ac_id']).size().reset_index(name = 'count')

                                         ac_id  count
0       AC00001abb-e40b-4a19-978d-cc6becf33489      2
1       AC000061e1-9f80-4765-8ad4-993d5ab83e39      2
2       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      3
3       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      2
4       AC0000b6cd-f27e-4c73-8d97-3510b8192c84      1
...                                        ...    ...
603625  ACffff7058-c1a4-45ea-9e0e-ab2c55a1b1d0      2
603626  ACffff8281-2731-4676-8856-acf3a588cf73      1
603627  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      1
603628  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      2
603629                                   ac_id      1

[603630 rows x 2 columns]

In [36]:
df_purchaseRecords

                                          ac_id purchase_date
0        AC3c8d6ef5-098e-421f-aad4-a563817aa655       6/17/17
1        AC916c16ac-344c-4654-b461-0994faf15c93       6/17/17
2        ACfd2bc854-d75c-400f-b96e-c4930e876c0f       6/17/17
3        ACe9aa7f4e-0e40-454e-883f-b0adb2ec0055       6/17/17
4        ACf00c42d0-b71f-4ec5-bdeb-697e36eece24       6/17/17
...                                         ...           ...
7229668  ACbf5928d9-21c9-41e3-9a5b-028a7bf1b86b       9/18/17
7229669  ACdeedc451-6f14-4ae5-94c3-2accf26077ef       9/18/17
7229670  AC7f8d26bd-8b0a-43e4-a4ab-d8e0f6dad769       9/18/17
7229671  AC545373c8-ea6a-46c0-b458-e64ee88dc305       9/18/17
7229672  AC4b59615a-8e60-4ed0-b37f-cc93d92757b7       9/18/17

[7229673 rows x 2 columns]

In [37]:
df_group = df_purchaseRecords.groupby(['ac_id']).size().reset_index(name = 'count')
df_group

                                         ac_id  count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d     13
1       AC00001abb-e40b-4a19-978d-cc6becf33489      8
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      5
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      8
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      6
...                                        ...    ...
899745  ACffff8d20-b401-4bff-8ec0-e308c20f9822     10
899746  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d     10
899747  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      6
899748  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      5
899749                                   ac_id      8

[899750 rows x 2 columns]

In [38]:
files = ['dependent_1.txt', 'dependent_2.txt', 'dependent_3.txt', 'dependent_4.txt', 'dependent_5.txt',
        'dependent_6.txt', ]

In [58]:
filename = "../DependentVariables/dependent_1.txt"
merged = pd.read_table(filename, low_memory=False)
for i in range(2, 32):
    filename = "../DependentVariables/dependent_" + str(i) + ".txt"
    df = pd.read_table(filename, low_memory=False)
    print(df.shape)
    merged = pd.merge(
        left=merged
        ,right=df
        ,how='inner'
        ,on=['ac_id']
        )

(900000, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(899922, 2)
(900000, 2)
(900000, 2)

In [59]:
merged.shape

(897845, 32)

In [61]:
merged['ac_id'].unique().size

897845

In [62]:
merged

,ac_id,arr_ind_1,arr_ind_2,arr_ind_3,arr_ind_4,arr_ind_5,arr_ind_6,arr_ind_7,arr_ind_8,arr_ind_9,...,arr_ind_22,arr_ind_23,arr_ind_24,arr_ind_25,arr_ind_26,arr_ind_27,arr_ind_28,arr_ind_29,arr_ind_30,arr_ind_31
0,AC4592fa29-384c-4d58-a74b-2ac5780e884f,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
1,AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,ACe990a57f-8061-4303-97f6-83b6c580a5f1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897840,AC3bff3721-35d8-4ef7-a5a5-753be4f67d2d,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0
897841,AC7aa46ab7-e3db-4075-b04c-b092372cf1fb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
897842,AC5d08eaa6-a54d-4cb4-a0b7-b49e9e482e08,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
897843,ACf80349b3-0be2-4d3d-bf96-f1ee507b9c6f,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
897844,AC2384f6f9-8cd5-4247-aaa9-78799e937e5e,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [63]:
for i in range(1, 31):
    print(sum(merged['arr_ind_' + str(i)]))

0.0
0.0
76409.0
124707.0
208696.0
269297.0
315391.0
362809.0
403752.0
430369.0
459714.0
508410.0
549985.0
584902.0
615617.0
644979.0
661717.0
676871.0
707778.0
733059.0
755051.0
775220.0
792718.0
803987.0
815293.0
834659.0
851897.0
867763.0
883045.0
897845.0

In [54]:
print(sum(merged['arr_ind_3']))

nan

In [83]:
nan_count = np.sum(merged.isnull(), axis = 0)
print(nan_count)

ac_id         0
arr_ind_1     0
arr_ind_2     0
arr_ind_3     0
arr_ind_4     0
arr_ind_5     0
arr_ind_6     0
arr_ind_7     0
arr_ind_8     0
arr_ind_9     0
arr_ind_10    0
arr_ind_11    0
arr_ind_12    0
arr_ind_13    0
arr_ind_14    0
arr_ind_15    0
arr_ind_16    0
arr_ind_17    0
arr_ind_18    0
arr_ind_19    0
arr_ind_20    0
arr_ind_21    0
arr_ind_22    0
arr_ind_23    0
arr_ind_24    0
arr_ind_25    0
arr_ind_26    0
arr_ind_27    0
arr_ind_28    0
arr_ind_29    0
arr_ind_30    0
arr_ind_31    0
sum           0
dtype: int64

In [87]:
merged = merged.drop('sum', axis=1)
merged

KeyError: "['sum'] not found in axis"

In [88]:
merged['sum'] = merged.sum(axis = 1)
merged

,ac_id,arr_ind_1,arr_ind_2,arr_ind_3,arr_ind_4,arr_ind_5,arr_ind_6,arr_ind_7,arr_ind_8,arr_ind_9,...,arr_ind_23,arr_ind_24,arr_ind_25,arr_ind_26,arr_ind_27,arr_ind_28,arr_ind_29,arr_ind_30,arr_ind_31,sum
0,AC4592fa29-384c-4d58-a74b-2ac5780e884f,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0
1,AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0
2,AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,21.0
3,ACe990a57f-8061-4303-97f6-83b6c580a5f1,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,18.0
4,ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
897840,AC3bff3721-35d8-4ef7-a5a5-753be4f67d2d,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0
897841,AC7aa46ab7-e3db-4075-b04c-b092372cf1fb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0
897842,AC5d08eaa6-a54d-4cb4-a0b7-b49e9e482e08,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0
897843,ACf80349b3-0be2-4d3d-bf96-f1ee507b9c6f,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,19.0
897844,AC2384f6f9-8cd5-4247-aaa9-78799e937e5e,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,20.0

In [89]:
merged.sort_values(by=['sum'])

,ac_id,arr_ind_1,arr_ind_2,arr_ind_3,arr_ind_4,arr_ind_5,arr_ind_6,arr_ind_7,arr_ind_8,arr_ind_9,...,arr_ind_23,arr_ind_24,arr_ind_25,arr_ind_26,arr_ind_27,arr_ind_28,arr_ind_29,arr_ind_30,arr_ind_31,sum
759216,ACb1bf5683-be77-4f3c-ae85-2983f14f1bf1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,10.0
543387,AC0e98a3d9-2634-47ef-b7f3-ab7683ec5cd5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0
281361,AC93b6bec5-a981-4b95-9b08-83e7bcaa8e7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,10.0
682739,AC1a0bb37f-3ca0-4514-8450-6d7219d4dea3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0
496383,AC35b1e628-bfe3-473a-b135-18329fec9d8e,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643953,AC6672023d-323e-4060-b4e8-5f9de5492167,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,28.0
161454,AC69a3b2ad-80d6-485f-a962-f8528184d2a4,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,28.0
766082,AC62534be2-dfef-4260-9eaf-7a4dc2b4c009,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,28.0
624512,AC4acc5ae5-3afd-4ca6-8e52-de11ef79273e,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,28.0
771302,AC94542c1d-2b9f-4481-9671-7b66337e6b9b,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,28.0

In [90]:
merged['sum']

0         20.0
1         21.0
2         21.0
3         18.0
4         19.0
          ...
897840    19.0
897841    20.0
897842    19.0
897843    19.0
897844    20.0
Name: sum, Length: 897845, dtype: float64

In [93]:
visit_count = merged[['ac_id', 'sum']]

In [94]:
visit_count

                                         ac_id   sum
0       AC4592fa29-384c-4d58-a74b-2ac5780e884f  20.0
1       AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc  21.0
2       AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08  21.0
3       ACe990a57f-8061-4303-97f6-83b6c580a5f1  18.0
4       ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce  19.0
...                                        ...   ...
897840  AC3bff3721-35d8-4ef7-a5a5-753be4f67d2d  19.0
897841  AC7aa46ab7-e3db-4075-b04c-b092372cf1fb  20.0
897842  AC5d08eaa6-a54d-4cb4-a0b7-b49e9e482e08  19.0
897843  ACf80349b3-0be2-4d3d-bf96-f1ee507b9c6f  19.0
897844  AC2384f6f9-8cd5-4247-aaa9-78799e937e5e  20.0

[897845 rows x 2 columns]

In [105]:
table = pd.crosstab(index=merged['sum'], columns='count')
table

col_0   count
sum
10.0       13
11.0       49
12.0      359
13.0     1617
14.0     5802
15.0    17606
16.0    41938
17.0    81825
18.0   128716
19.0   165625
20.0   168001
21.0   136172
22.0    86787
23.0    42601
24.0    15460
25.0     4365
26.0      810
27.0       93
28.0        6