In [1]:
import os
inputs = []
for file in os.listdir("Dependent"):
    if file.endswith(".txt"):
        inputs.append(os.path.join("Dependent", file))

# concatanate all txt files in a file called merged_dep.txt
with open('merged_dep.txt', 'w') as outfile:
    for fname in inputs:
        with open(fname, encoding="utf-8", errors='ignore') as infile:
            for line in infile:
                outfile.write(line)

In [2]:
import pandas as pd
import numpy as np
import os, glob

In [3]:
filename = os.path.join(os.getcwd(), "Dependent", "merged_dep.txt")

In [4]:
df = pd.read_table(filename, low_memory=False)

In [5]:
df.shape

(27897898, 2)

In [6]:
df.head(10)

                                    ac_id arr_ind_2
0  AC4592fa29-384c-4d58-a74b-2ac5780e884f       0.0
1  AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc       0.0
2  AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08       0.0
3  ACe990a57f-8061-4303-97f6-83b6c580a5f1       0.0
4  ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce       0.0
5  AC54a351a3-ce4b-477e-b2f3-3e9be042c4ff       0.0
6  ACbfe839d3-6893-4c22-852e-7f40b19aba0f       0.0
7  ACb4cb4c24-404a-4b24-9c2e-fd7c35b4f6a1       0.0
8  AC8520aa82-7936-4fb8-9dbe-70afc9c524a7       0.0
9  ACb7273b5d-8be1-47f9-8318-edd6fd5ca648       0.0

In [7]:
df.tail(10)

                                           ac_id arr_ind_2
27897888  ACca7618a7-7df4-452e-b9f8-39e9be07a2c8         1
27897889  AC95e4eb4f-6469-4a67-be70-90395e85ee4f         1
27897890  AC3b11edc9-486c-436b-b650-5f6cd9067535         1
27897891  AC0243ef2f-920c-42e4-8f5f-67b44c7d7624         1
27897892  AC242fbaac-f33b-401b-89a2-02f183f9ee0b         1
27897893  ACe6f464d2-cd3d-4b5f-bcfa-28fb67b10610         1
27897894  ACc6f19043-dbe1-41cd-8735-44567ba06bfa         1
27897895  AC9cc93ce0-d0bd-4223-8f1d-9a6eb3b9b997         1
27897896  ACb2d8faf2-849e-49d4-90af-641273c7ec21         1
27897897                ACc252ad90-9bed-468c-8a5       NaN

In [8]:
df = df.drop(27897897,axis=0)

In [9]:
df.tail()

                                           ac_id arr_ind_2
27897892  AC242fbaac-f33b-401b-89a2-02f183f9ee0b         1
27897893  ACe6f464d2-cd3d-4b5f-bcfa-28fb67b10610         1
27897894  ACc6f19043-dbe1-41cd-8735-44567ba06bfa         1
27897895  AC9cc93ce0-d0bd-4223-8f1d-9a6eb3b9b997         1
27897896  ACb2d8faf2-849e-49d4-90af-641273c7ec21         1

In [10]:
df.dtypes

ac_id        object
arr_ind_2    object
dtype: object

In [11]:
df.shape

(27897897, 2)

In [12]:
df.isnull().sum()

ac_id        0
arr_ind_2    0
dtype: int64

In [13]:
df = df.loc[df['arr_ind_2'] != 0.0]

In [14]:
df.head

<bound method NDFrame.head of                                            ac_id arr_ind_2
0         AC4592fa29-384c-4d58-a74b-2ac5780e884f       0.0
1         AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc       0.0
2         AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08       0.0
3         ACe990a57f-8061-4303-97f6-83b6c580a5f1       0.0
4         ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce       0.0
...                                          ...       ...
27897892  AC242fbaac-f33b-401b-89a2-02f183f9ee0b         1
27897893  ACe6f464d2-cd3d-4b5f-bcfa-28fb67b10610         1
27897894  ACc6f19043-dbe1-41cd-8735-44567ba06bfa         1
27897895  AC9cc93ce0-d0bd-4223-8f1d-9a6eb3b9b997         1
27897896  ACb2d8faf2-849e-49d4-90af-641273c7ec21         1

[27897897 rows x 2 columns]>

In [15]:
df.loc[~(df==0).all(axis=1)]

                                           ac_id arr_ind_2
0         AC4592fa29-384c-4d58-a74b-2ac5780e884f       0.0
1         AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc       0.0
2         AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08       0.0
3         ACe990a57f-8061-4303-97f6-83b6c580a5f1       0.0
4         ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce       0.0
...                                          ...       ...
27897892  AC242fbaac-f33b-401b-89a2-02f183f9ee0b         1
27897893  ACe6f464d2-cd3d-4b5f-bcfa-28fb67b10610         1
27897894  ACc6f19043-dbe1-41cd-8735-44567ba06bfa         1
27897895  AC9cc93ce0-d0bd-4223-8f1d-9a6eb3b9b997         1
27897896  ACb2d8faf2-849e-49d4-90af-641273c7ec21         1

[27897897 rows x 2 columns]

In [16]:
df.shape

(27897897, 2)

In [17]:
df= df[df['arr_ind_2'] != '0.0']

In [18]:
df.shape

(26097897, 2)

In [19]:
df= df[df['arr_ind_2'] != '0']

In [20]:
df.shape

(17550411, 2)

In [21]:
df.head(10)

                                          ac_id  arr_ind_2
900000                                    ac_id  arr_ind_3
1723333  ACff808411-aed9-4086-b89a-201f8e933b78          1
1723334  ACe57a7da9-c6e8-48e5-9e55-284591469402          1
1723335  ACe11bb30a-01a9-4e6b-b0ca-d440deb8243d          1
1723336  ACdda04363-1fed-44a6-acb1-765ad193d891          1
1723337  AC6684ce34-8417-4124-8097-4287dc931c0e          1
1723338  AC6d85410c-bb1f-45ad-b7be-5139e144cd25          1
1723339  AC97425b41-0e6e-4504-8285-6dd716575e33          1
1723340  AC3ea03c29-c28a-4773-b824-74406dde35f1          1
1723341  ACa2bc4588-7181-4a5c-bc6f-95af36c78b58          1

In [22]:
df = df.drop(900000,axis=0)

In [23]:
df.head(10)

                                          ac_id arr_ind_2
1723333  ACff808411-aed9-4086-b89a-201f8e933b78         1
1723334  ACe57a7da9-c6e8-48e5-9e55-284591469402         1
1723335  ACe11bb30a-01a9-4e6b-b0ca-d440deb8243d         1
1723336  ACdda04363-1fed-44a6-acb1-765ad193d891         1
1723337  AC6684ce34-8417-4124-8097-4287dc931c0e         1
1723338  AC6d85410c-bb1f-45ad-b7be-5139e144cd25         1
1723339  AC97425b41-0e6e-4504-8285-6dd716575e33         1
1723340  AC3ea03c29-c28a-4773-b824-74406dde35f1         1
1723341  ACa2bc4588-7181-4a5c-bc6f-95af36c78b58         1
1723342  ACb1c9186b-4a83-45ff-b024-aba0039e0897         1

In [24]:
df.shape

(17550410, 2)

In [25]:
df.tail(10)

                                           ac_id arr_ind_2
27897887  AC281beb5e-366a-4a79-a262-2278bc910f5e         1
27897888  ACca7618a7-7df4-452e-b9f8-39e9be07a2c8         1
27897889  AC95e4eb4f-6469-4a67-be70-90395e85ee4f         1
27897890  AC3b11edc9-486c-436b-b650-5f6cd9067535         1
27897891  AC0243ef2f-920c-42e4-8f5f-67b44c7d7624         1
27897892  AC242fbaac-f33b-401b-89a2-02f183f9ee0b         1
27897893  ACe6f464d2-cd3d-4b5f-bcfa-28fb67b10610         1
27897894  ACc6f19043-dbe1-41cd-8735-44567ba06bfa         1
27897895  AC9cc93ce0-d0bd-4223-8f1d-9a6eb3b9b997         1
27897896  ACb2d8faf2-849e-49d4-90af-641273c7ec21         1

In [26]:
df_grouped_id = df.groupby(['ac_id']).size().reset_index(name = 'arr_id_count')

In [27]:
df_grouped_id

                                         ac_id  arr_id_count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d            19
1       AC00001abb-e40b-4a19-978d-cc6becf33489            17
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39            16
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e            20
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d            22
...                                        ...           ...
900021  ACffff8d20-b401-4bff-8ec0-e308c20f9822            21
900022  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d            19
900023  ACffffd50a-291a-4067-92ae-9f8e8c629a9e            19
900024  ACffffef1f-cfbc-4973-8926-35ef7a1491ab            19
900025                                   ac_id            19

[900026 rows x 2 columns]

In [28]:
df_grouped_id = df_grouped_id.drop(900025,axis=0)

Of the over 27 million customers that arrived on the website during the 31 day campaign, only 900k visited at least once, very similar number to the account data datasets

In [29]:
df_grouped_id

                                         ac_id  arr_id_count
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d            19
1       AC00001abb-e40b-4a19-978d-cc6becf33489            17
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39            16
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e            20
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d            22
...                                        ...           ...
900020  ACffff8281-2731-4676-8856-acf3a588cf73            17
900021  ACffff8d20-b401-4bff-8ec0-e308c20f9822            21
900022  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d            19
900023  ACffffd50a-291a-4067-92ae-9f8e8c629a9e            19
900024  ACffffef1f-cfbc-4973-8926-35ef7a1491ab            19

[900025 rows x 2 columns]

In [30]:
rank_df = df_grouped_id.sort_values(['arr_id_count'],ascending=False)

In [31]:
rank_df

                                         ac_id  arr_id_count
360844  AC6672023d-323e-4060-b4e8-5f9de5492167            28
372006  AC69a3b2ad-80d6-485f-a962-f8528184d2a4            28
346313  AC62534be2-dfef-4260-9eaf-7a4dc2b4c009            28
263258  AC4acc5ae5-3afd-4ca6-8e52-de11ef79273e            28
522551  AC94542c1d-2b9f-4481-9671-7b66337e6b9b            28
...                                        ...           ...
654328            ACb9f5f357-f252-4256-b8ac_id             1
143522            AC28d3d42c-6aaf-4c69-b7ac_id             1
837315            ACee0312f3-a6ea-4ad8-83ac_id             1
216881           AC3da9a41e-21aa-48fe-9abac_id             1
151429            AC2b0e3c85-3ff8-45e5-adac_id             1

[900025 rows x 2 columns]

In [32]:
rank_df.isnull().sum()

ac_id           0
arr_id_count    0
dtype: int64

In [33]:
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
table = pd.crosstab(index=rank_df['arr_id_count'], columns='count')
table

col_0          count
arr_id_count
1                 24
2                  1
10                13
11                49
12               360
13              1625
14              5832
15             17699
16             42093
17             82108
18            129086
19            166005
20            168375
21            136422
22             86917
23             42663
24             15473
25              4371
26               810
27                93
28                 6

More like a bell curve distibution for the number of responses per day

In [35]:
import os 
filename = os.path.join(os.getcwd(), "Dependent", "dependent_1.txt")

In [36]:
import pandas as pd
df = pd.read_table(filename)

In [37]:
df.head(10)

                                    ac_id  arr_ind_1
0  AC4592fa29-384c-4d58-a74b-2ac5780e884f        0.0
1  AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc        0.0
2  AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08        0.0
3  ACe990a57f-8061-4303-97f6-83b6c580a5f1        0.0
4  ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce        0.0
5  AC54a351a3-ce4b-477e-b2f3-3e9be042c4ff        0.0
6  ACbfe839d3-6893-4c22-852e-7f40b19aba0f        0.0
7  ACb4cb4c24-404a-4b24-9c2e-fd7c35b4f6a1        0.0
8  AC8520aa82-7936-4fb8-9dbe-70afc9c524a7        0.0
9  ACb7273b5d-8be1-47f9-8318-edd6fd5ca648        0.0

In [38]:
df.shape

(900000, 2)

In [39]:
filename = os.path.join(os.getcwd(), "Dependent", "dependent_10.txt")
df = pd.read_table(filename)

In [40]:
df.shape

(899922, 2)

In [41]:
filename = os.path.join(os.getcwd(), "Dependent", "dependent_20.txt")
df = pd.read_table(filename)
df.shape

(899922, 2)

In [42]:
filename = os.path.join(os.getcwd(), "Dependent", "dependent_31.txt")
df = pd.read_table(filename)
df.shape

(900000, 2)

In [43]:
df.head()

                                    ac_id  arr_ind_31
0  AC4592fa29-384c-4d58-a74b-2ac5780e884f         1.0
1  AC4fb74ef4-3f46-4e6a-9ae7-657320b463bc         1.0
2  AC10e4b9f0-e76f-4da7-a0d3-99988ef23f08         1.0
3  ACe990a57f-8061-4303-97f6-83b6c580a5f1         1.0
4  ACcec24e2f-c5d0-49ac-ae7d-8106e50646ce         1.0

In [44]:
df.shape

(900000, 2)