In [2]:
import pandas as pd
import numpy as np
import os, glob

filename = os.path.join(os.getcwd(), "WebPurchase", "purchase_records.txt")
df = pd.read_table(filename, header=None)
df.columns = ['ac_id','purchase_date']

In [3]:
df.head(10)

                                    ac_id purchase_date
0  AC6fe3b89d-437f-49ca-825a-b9d65f117f94       6/17/17
1  AC3c8d6ef5-098e-421f-aad4-a563817aa655       6/17/17
2  AC916c16ac-344c-4654-b461-0994faf15c93       6/17/17
3  ACfd2bc854-d75c-400f-b96e-c4930e876c0f       6/17/17
4  ACe9aa7f4e-0e40-454e-883f-b0adb2ec0055       6/17/17
5  ACf00c42d0-b71f-4ec5-bdeb-697e36eece24       6/17/17
6  AC08b4867c-6097-4527-afa6-2113dceb1fd4       6/17/17
7  AC43c46d79-e344-4498-ba2b-bd175f586128       6/17/17
8  ACde9adb6e-3030-4899-9247-0d9d9a95f2b5       6/17/17
9  ACbf8bdcac-10cf-4905-9748-38485c7da428       6/17/17

In [4]:
filename = os.path.join(os.getcwd(), "WebPurchase", "webvisit.txt")
df1 = pd.read_table(filename, header=None)
df1.columns = ['ac_id','webvisited_date','visited_page']
df1 = df1.replace(r'^\s*$', np.nan, regex=True)
df1.head(10)

                                    ac_id webvisited_date   visited_page
0  AC6ebf5f05-f229-43d4-a810-2a8492180127         6/17/17            NaN
1  ACce4cd8ea-8b3d-4767-9609-b353d1f633c0         6/17/17            NaN
2  AC7d351059-47ef-4011-91d6-1ad803204854         6/17/17      MYACCOUNT
3  AC763265f0-40ac-400f-ad11-897ccdeb7d23         6/17/17        REWARDS
4  ACd89983be-b4e9-4e84-8936-f055f4ed3e7d         6/17/17  PRICINGENGINE
5  AC8ee59710-eb2f-4b48-a5c5-ae1627aba281         6/17/17  PRICINGENGINE
6  AC61169457-6279-428a-8414-ae968d891aa8         6/17/17      MYACCOUNT
7  AC2182f0dd-61f5-4f07-8144-44330b16a940         6/17/17  PRICINGENGINE
8  AC78b5ae75-a46c-4d84-a781-e29ba248ac52         6/17/17      MYACCOUNT
9  ACf5de13a2-16fa-4afe-be49-1d49c6ef6640         6/17/17  PRICINGENGINE

In [5]:
df.shape

(7229674, 2)

In [6]:
df1.shape

(1000000, 3)

Purchase records (df) much larger, contains whether customer made any purchase during the year. 

Web visit logs (df1) the history of customers at pages, not purchases.

In [7]:
from functools import reduce
dfs = [df,df1]
df_combo = reduce(lambda  left,right: pd.merge(left,right,on=['ac_id'],
                                               how='outer'), dfs)

In [8]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page
0,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/17/17,11/16/17,REWARDS
1,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/17/17,6/22/18,REWARDS
2,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/1/18,11/16/17,REWARDS
3,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,6/1/18,6/22/18,REWARDS
4,AC6fe3b89d-437f-49ca-825a-b9d65f117f94,2/19/18,11/16/17,REWARDS
...,...,...,...,...
10414411,AC8862aa40-98c0-4c15-9ad2-7255a1ebda1e,NaN,10/3/17,NaN
10414412,ACbd08bd1e-c36e-482c-8886-5a6dab72f648,NaN,6/7/17,REWARDS
10414413,ACb1e1dd5d-4ef2-4343-831b-17e9df0c5550,NaN,12/1/17,REWARDS
10414414,AC94fd1935-a380-4d38-b318-ead9a840b276,NaN,1/22/18,MYACCOUNT
10414415,AC33ac7b14-0d06-4e34-9a41-591b54bf31a7,NaN,12/19/17,REWARDS

In [9]:
df_combo.dtypes

ac_id              object
purchase_date      object
webvisited_date    object
visited_page       object
dtype: object

In [10]:
df_combo = df_combo.sort_values(by=['ac_id'], ascending=False)

In [11]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page
6102046,ac_id,8/8/17,6/19/17,MYACCOUNT
6102052,ac_id,1/10/18,6/19/17,MYACCOUNT
6102045,ac_id,10/10/17,6/19/17,MYACCOUNT
6102047,ac_id,4/3/18,6/19/17,MYACCOUNT
6102048,ac_id,2/17/18,6/19/17,MYACCOUNT
...,...,...,...,...
2013541,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,NaN,NaN
2013542,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,NaN,NaN
2013543,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,NaN,NaN
2013544,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,NaN,NaN
2013534,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,NaN,NaN

In [12]:
df_combo = df_combo[df_combo.ac_id != 'ac_id']

In [13]:
df_combo.isna().sum()

ac_id                    0
purchase_date          287
webvisited_date    2380251
visited_page       4390491
dtype: int64

In [14]:
df_combo = df_combo.fillna(df_combo.mode().iloc[0])

In [15]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page
3021719,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE
3021720,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE
3021722,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE
3021721,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE
3021718,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE
...,...,...,...,...
2013541,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE
2013542,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE
2013543,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE
2013544,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE
2013534,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE

In [16]:
df_combo.isna().sum()

ac_id              0
purchase_date      0
webvisited_date    0
visited_page       0
dtype: int64

In [17]:
from datetime import datetime

In [18]:
purchasedate_1 = df_combo['purchase_date'].tolist()
webvisitdate_2 = df_combo['webvisited_date'].tolist()
diff = []
for i in range(0, 10414408):
    date1 = datetime.strptime(purchasedate_1[i], "%m/%d/%y")
    date2 = datetime.strptime(webvisitdate_2[i], "%m/%d/%y")
    diff.append(abs(date2 - date1))
df_combo['diff_dates'] = diff

In [19]:
df_combo

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates
3021719,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days
3021720,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days
3021722,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days
3021721,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days
3021718,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days
...,...,...,...,...,...
2013541,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days
2013542,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days
2013543,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days
2013544,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days
2013534,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days

In [20]:
df_combo.dtypes

ac_id                       object
purchase_date               object
webvisited_date             object
visited_page                object
diff_dates         timedelta64[ns]
dtype: object

In [21]:
df_combo.describe()

                        diff_dates
count                     10414408
mean   155 days 06:50:52.337492450
std    104 days 14:34:34.620793992
min                0 days 00:00:00
25%               66 days 00:00:00
50%              144 days 00:00:00
75%              231 days 00:00:00
max              424 days 00:00:00

In [22]:
df_combo_ranked = df_combo.groupby('ac_id')['diff_dates'].max().reset_index()
df_combo_ranked.columns = ['ac_id', 'Max Date Diff']
df_combo_ranked

                                         ac_id Max Date Diff
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d      314 days
1       AC00001abb-e40b-4a19-978d-cc6becf33489      240 days
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39      353 days
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e      382 days
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d      224 days
...                                        ...           ...
899921  ACffff8281-2731-4676-8856-acf3a588cf73      199 days
899922  ACffff8d20-b401-4bff-8ec0-e308c20f9822      379 days
899923  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d      228 days
899924  ACffffd50a-291a-4067-92ae-9f8e8c629a9e      331 days
899925  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      259 days

[899926 rows x 2 columns]

In [23]:
from functools import reduce
dfs = [df_combo, df_combo_ranked]
df_combined = reduce(lambda  left,right: pd.merge(left,right,on=['ac_id'],
                                               how='outer'), dfs)

In [24]:
df_combined

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days
...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days

In [25]:
df_combo_min = df_combo.groupby('ac_id')['diff_dates'].min().reset_index()
df_combo_min.columns = ['ac_id', 'Min Date Diff']
df_combo_min

                                         ac_id Min Date Diff
0       AC000017b9-3e7d-4133-9e59-ddddcb4a911d       19 days
1       AC00001abb-e40b-4a19-978d-cc6becf33489       10 days
2       AC000061e1-9f80-4765-8ad4-993d5ab83e39       41 days
3       AC000064d8-cb24-44c6-b4ed-0cafa86b8d3e        6 days
4       AC0000754d-ba7a-45ed-b9a1-629d0bb0060d       22 days
...                                        ...           ...
899921  ACffff8281-2731-4676-8856-acf3a588cf73       23 days
899922  ACffff8d20-b401-4bff-8ec0-e308c20f9822        1 days
899923  ACffff8d3a-da1a-40c9-b29e-d5ed32713d5d       22 days
899924  ACffffd50a-291a-4067-92ae-9f8e8c629a9e       51 days
899925  ACffffef1f-cfbc-4973-8926-35ef7a1491ab      150 days

[899926 rows x 2 columns]

In [26]:
from functools import reduce
dfs = [df_combined, df_combo_min]
df_combined1 = reduce(lambda  left,right: pd.merge(left,right,on=['ac_id'],
                                               how='outer'), dfs)
df_combined1

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days
...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days

In [27]:
df_final = df_combined1

In [28]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days
...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days

In [29]:
df_final.dtypes

ac_id                       object
purchase_date               object
webvisited_date             object
visited_page                object
diff_dates         timedelta64[ns]
Max Date Diff      timedelta64[ns]
Min Date Diff      timedelta64[ns]
dtype: object

In [30]:
df_final.describe()

,diff_dates,Max Date Diff,Min Date Diff
count,10414408,10414408,10414408
mean,155 days 06:50:52.337492450,315 days 15:38:49.381833316,22 days 15:21:40.827392201
std,104 days 14:34:34.620793992,64 days 13:33:57.493716459,31 days 12:21:43.244921851
min,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00
25%,66 days 00:00:00,275 days 00:00:00,4 days 00:00:00
50%,144 days 00:00:00,336 days 00:00:00,11 days 00:00:00
75%,231 days 00:00:00,367 days 00:00:00,27 days 00:00:00
max,424 days 00:00:00,424 days 00:00:00,396 days 00:00:00

In [31]:
print(df_final.isnull().sum())

ac_id              0
purchase_date      0
webvisited_date    0
visited_page       0
diff_dates         0
Max Date Diff      0
Min Date Diff      0
dtype: int64

In [32]:
df_june1 = df_final.loc[df_final['purchase_date'] == "6/1/18"]
df_june1

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff
1471,ACfff78403-a063-4fb7-82fc-5341f5a5dc9d,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,6 days
1684,ACfff66a29-73b8-44d9-ae8d-1aa502aa1286,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,9 days
1707,ACfff650e7-0760-4b72-abe4-70ed4b56a589,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,175 days
2208,ACfff38d49-0acd-4087-b096-788065682af8,6/1/18,6/15/17,PRICINGENGINE,351 days,370 days,48 days
2320,ACfff28c13-ba87-47f3-b783-c6070136202a,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,6 days
...,...,...,...,...,...,...,...
10407614,AC002b3723-cb64-41fb-9007-0067dd25d411,6/1/18,6/5/17,REWARDS,361 days,361 days,57 days
10408155,AC0027068a-6219-4887-9ba3-9c2389185c3d,6/1/18,6/15/17,PRICINGENGINE,351 days,351 days,13 days
10408896,AC0022300a-e8f3-4816-a910-d32ac608cc43,6/1/18,6/16/17,REWARDS,350 days,350 days,6 days
10408940,AC0021f037-deb4-497a-99e8-6bc89d03b9a2,6/1/18,6/14/17,MYACCOUNT,352 days,352 days,28 days
10414070,AC0003087f-e429-48c3-b95d-f593193827c0,6/1/18,1/16/18,PRICINGENGINE,136 days,163 days,7 days

In [33]:
# for row in df_final.iterrows():
#     if row["purchase_date"] == "6/1/18":
#         row["6/1/18"]

In [34]:
flag = ['6/1/18']
df_final['Purchase: 6/1/18'] = df_final['purchase_date'].isin(flag).astype(int)

In [35]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days,0
...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days,0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days,0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days,0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days,0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days,0

In [36]:
flag = []
for i in range(1,31):
    flag = []
    date = "6/"+str(i)+"/18"
    flag.append(date)
    df_final["Purchase: 6/"+str(i)+"/18"] = df_final['purchase_date'].isin(flag).astype(int)

In [37]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Purchase: 6/21/18,Purchase: 6/22/18,Purchase: 6/23/18,Purchase: 6/24/18,Purchase: 6/25/18,Purchase: 6/26/18,Purchase: 6/27/18,Purchase: 6/28/18,Purchase: 6/29/18,Purchase: 6/30/18
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
flag = []
for i in range(1,31):
    flag = []
    date = "6/"+str(i)+"/18"
    flag.append(date)
    df_final["Web Visit: 6/"+str(i)+"/18"] = df_final['webvisited_date'].isin(flag).astype(int)

In [39]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Web Visit: 6/21/18,Web Visit: 6/22/18,Web Visit: 6/23/18,Web Visit: 6/24/18,Web Visit: 6/25/18,Web Visit: 6/26/18,Web Visit: 6/27/18,Web Visit: 6/28/18,Web Visit: 6/29/18,Web Visit: 6/30/18
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,3/1/18,6/15/17,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,11/12/17,6/15/17,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/23/18,6/15/17,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,12/4/17,6/15/17,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,1/28/18,6/15/17,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/12/18,6/15/17,PRICINGENGINE,211 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,1/5/18,6/15/17,PRICINGENGINE,204 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,3/6/18,6/15/17,PRICINGENGINE,264 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,12/1/17,6/15/17,PRICINGENGINE,169 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,9/19/17,6/15/17,PRICINGENGINE,96 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df_final['purchase_date'] = pd.to_datetime(df_final['purchase_date'])
df_final['webvisited_date'] = pd.to_datetime(df_final['webvisited_date'])

In [41]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Web Visit: 6/21/18,Web Visit: 6/22/18,Web Visit: 6/23/18,Web Visit: 6/24/18,Web Visit: 6/25/18,Web Visit: 6/26/18,Web Visit: 6/27/18,Web Visit: 6/28/18,Web Visit: 6/29/18,Web Visit: 6/30/18
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2018-01-12,2017-06-15,PRICINGENGINE,211 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2018-01-05,2017-06-15,PRICINGENGINE,204 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2018-03-06,2017-06-15,PRICINGENGINE,264 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2017-12-01,2017-06-15,PRICINGENGINE,169 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2017-09-19,2017-06-15,PRICINGENGINE,96 days,314 days,19 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
df_final.dtypes

ac_id                          object
purchase_date          datetime64[ns]
webvisited_date        datetime64[ns]
visited_page                   object
diff_dates            timedelta64[ns]
                           ...
Web Visit: 6/26/18              int64
Web Visit: 6/27/18              int64
Web Visit: 6/28/18              int64
Web Visit: 6/29/18              int64
Web Visit: 6/30/18              int64
Length: 67, dtype: object

In [43]:
date1 = datetime.strptime('1/1/17', "%m/%d/%y")
date2 = datetime.strptime('1/31/17', "%m/%d/%y")

In [44]:
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['January 30'] = int(res == True)

In [45]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Web Visit: 6/22/18,Web Visit: 6/23/18,Web Visit: 6/24/18,Web Visit: 6/25/18,Web Visit: 6/26/18,Web Visit: 6/27/18,Web Visit: 6/28/18,Web Visit: 6/29/18,Web Visit: 6/30/18,January 30
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df_final['January 30'] = df_final['January 30'].mean()

In [47]:
# print(df_final['January 30'].mean())

In [48]:
# import calendar
# from datetime import date,timedelta

In [49]:
# start = date(2017,1,1)
# end = date(2017,12,31)
# delta = timedelta(months = 1)
# while start <= end:
#     print(str(start))
#     start += delta

In [50]:
# flag = []
# thirty_days = [4,6,9,11]
# thirty_one_days = [1,3,5,7,8,10,12]
# feburary = 2
# dates = ""
# for i in range(1, 12):
#     if i in thirty_one_days:
#         for j in range(1,32):
#             dates = datetime.strptime(str(i)+"/"+str(j)+"/17", "%m/%d/%y")
#             df_final[dates] = df_final[dates].mean()
#     elif i in thirty_days:
#         for j in range(1,31):
#             dates = datetime.strptime(str(i)+"/"+str(j)+"/17", "%m/%d/%y")
#             df_final[dates] = df_final[dates].mean()
#     elif i == feburary:
#         for j in range(1,29):
#             dates = datetime.strptime(str(i)+"/"+str(j)+"/17", "%m/%d/%y")
#             df_final[dates] = df_final[dates].mean()
#         dates = 
#         flag = []
#         date1 = datetime.strptime(str(i) + '/' + str(j) + '/17', "%m/%d/%y")
#         date2 = datetime.strptime(str(i) + '/' + str(j) + '/17', "%m/%d/%y")
#         res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
#         flag.append(res)
#         df_final[calendar.month_name[i] + '30'] = int(res == True)
#         df_final[calendar.month_name[i] + '30'] = df_final[calendar.month_name[i] + '30'].mean()

In [52]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Web Visit: 6/22/18,Web Visit: 6/23/18,Web Visit: 6/24/18,Web Visit: 6/25/18,Web Visit: 6/26/18,Web Visit: 6/27/18,Web Visit: 6/28/18,Web Visit: 6/29/18,Web Visit: 6/30/18,January 30
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [53]:
date1 = datetime.strptime('2/1/17', "%m/%d/%y")
date2 = datetime.strptime('2/28/17', "%m/%d/%y")

In [54]:
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['February 30'] = int(res == True)
df_final['February 30'] = df_final['February 30'].mean()

In [55]:
date1 = datetime.strptime('3/1/17', "%m/%d/%y")
date2 = datetime.strptime('3/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['March 30'] = int(res == True)
df_final['March 30'] = df_final['March 30'].mean()

In [56]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Web Visit: 6/24/18,Web Visit: 6/25/18,Web Visit: 6/26/18,Web Visit: 6/27/18,Web Visit: 6/28/18,Web Visit: 6/29/18,Web Visit: 6/30/18,January 30,February 30,March 30
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0.0

In [57]:
date1 = datetime.strptime('4/1/17', "%m/%d/%y")
date2 = datetime.strptime('4/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['April 30'] = int(res == True)
df_final['April 30'] = df_final['April 30'].mean()

In [58]:
date1 = datetime.strptime('5/1/17', "%m/%d/%y")
date2 = datetime.strptime('5/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['May 30'] = int(res == True)
df_final['May 30'] = df_final['May 30'].mean()

In [59]:
date1 = datetime.strptime('6/1/17', "%m/%d/%y")
date2 = datetime.strptime('6/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['June 30'] = int(res == True)
df_final['June 30'] = df_final['June 30'].mean()

In [60]:
date1 = datetime.strptime('7/1/17', "%m/%d/%y")
date2 = datetime.strptime('7/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['July 30'] = int(res == True)
df_final['July 30'] = df_final['July 30'].mean()

In [61]:
date1 = datetime.strptime('8/1/17', "%m/%d/%y")
date2 = datetime.strptime('8/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['August 30'] = int(res == True)
df_final['August 30'] = df_final['August 30'].mean()

In [62]:
date1 = datetime.strptime('9/1/17', "%m/%d/%y")
date2 = datetime.strptime('9/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['September 30'] = int(res == True)
df_final['September 30'] = df_final['September 30'].mean()

In [63]:
date1 = datetime.strptime('10/1/17', "%m/%d/%y")
date2 = datetime.strptime('10/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['October 30'] = int(res == True)
df_final['October 30'] = df_final['October 30'].mean()

In [64]:
date1 = datetime.strptime('11/1/17', "%m/%d/%y")
date2 = datetime.strptime('11/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['November 30'] = int(res == True)
df_final['November 30'] = df_final['November 30'].mean()

In [65]:
date1 = datetime.strptime('12/1/17', "%m/%d/%y")
date2 = datetime.strptime('12/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['December 30'] = int(res == True)
df_final['December 30'] = df_final['December 30'].mean()

In [66]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,March 30,April 30,May 30,June 30,July 30,August 30,September 30,October 30,November 30,December 30
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [67]:
# 60 days
date1 = datetime.strptime('1/1/17', "%m/%d/%y")
date2 = datetime.strptime('2/28/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['Jan-Feb 60'] = int(res == True)
df_final['Jan-Feb 60'] = df_final['Jan-Feb 60'].mean()

In [68]:
date1 = datetime.strptime('3/1/17', "%m/%d/%y")
date2 = datetime.strptime('4/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['Mar-April 60'] = int(res == True)
df_final['Mar-April 60'] = df_final['Mar-April 60'].mean()

In [69]:
date1 = datetime.strptime('5/1/17', "%m/%d/%y")
date2 = datetime.strptime('6/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['May-June 60'] = int(res == True)
df_final['May-June 60'] = df_final['May-June 60'].mean()

In [70]:
date1 = datetime.strptime('7/1/17', "%m/%d/%y")
date2 = datetime.strptime('8/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['July-Aug 60'] = int(res == True)
df_final['July-Aug 60'] = df_final['July-Aug 60'].mean()

In [71]:
date1 = datetime.strptime('9/1/17', "%m/%d/%y")
date2 = datetime.strptime('10/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['Sept-Oct 60'] = int(res == True)
df_final['Sept-Oct 60'] = df_final['Sept-Oct 60'].mean()

In [72]:
date1 = datetime.strptime('11/1/17', "%m/%d/%y")
date2 = datetime.strptime('12/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['Nov-Dec 60'] = int(res == True)
df_final['Nov-Dec 60'] = df_final['Nov-Dec 60'].mean()

In [73]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,September 30,October 30,November 30,December 30,Jan-Feb 60,Mar-April 60,May-June 60,July-Aug 60,Sept-Oct 60,Nov-Dec 60
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0

In [74]:
# 90 days
date1 = datetime.strptime('1/1/17', "%m/%d/%y")
date2 = datetime.strptime('3/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['Jan-Mar 90'] = int(res == True)
df_final['Jan-Mar 90'] = df_final['Jan-Mar 90'].mean()

In [75]:
date1 = datetime.strptime('4/1/17', "%m/%d/%y")
date2 = datetime.strptime('7/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['April-July 90'] = int(res == True)
df_final['April-July 90'] = df_final['April-July 90'].mean()

In [76]:
date1 = datetime.strptime('8/1/17', "%m/%d/%y")
date2 = datetime.strptime('12/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['purchase_date'])
df_final['Aug-Dec 90'] = int(res == True)
df_final['Aug-Dec 90'] = df_final['Aug-Dec 90'].mean()

In [77]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,December 30,Jan-Feb 60,Mar-April 60,May-June 60,July-Aug 60,Sept-Oct 60,Nov-Dec 60,Jan-Mar 90,April-July 90,Aug-Dec 90
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0

In [78]:
date1 = datetime.strptime('1/1/17', "%m/%d/%y")
date2 = datetime.strptime('1/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV January 30'] = int(res == True)
df_final['WV January 30'] = df_final['WV January 30'].mean()

In [79]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,Jan-Feb 60,Mar-April 60,May-June 60,July-Aug 60,Sept-Oct 60,Nov-Dec 60,Jan-Mar 90,April-July 90,Aug-Dec 90,WV January 30
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0

In [80]:
date1 = datetime.strptime('2/1/17', "%m/%d/%y")
date2 = datetime.strptime('2/28/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV February 30'] = int(res == True)
df_final['WV February 30'] = df_final['WV February 30'].mean()

In [81]:
date1 = datetime.strptime('3/1/17', "%m/%d/%y")
date2 = datetime.strptime('3/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV March 30'] = int(res == True)
df_final['WV March 30'] = df_final['WV March 30'].mean()

In [82]:
date1 = datetime.strptime('4/1/17', "%m/%d/%y")
date2 = datetime.strptime('4/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV April 30'] = int(res == True)
df_final['WV April 30'] = df_final['WV April 30'].mean()

In [83]:
date1 = datetime.strptime('5/1/17', "%m/%d/%y")
date2 = datetime.strptime('5/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV May 30'] = int(res == True)
df_final['WV May 30'] = df_final['WV May 30'].mean()

In [84]:
date1 = datetime.strptime('6/1/17', "%m/%d/%y")
date2 = datetime.strptime('6/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV June 30'] = int(res == True)
df_final['WV June 30'] = df_final['WV June 30'].mean()

In [85]:
date1 = datetime.strptime('7/1/17', "%m/%d/%y")
date2 = datetime.strptime('7/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV July 30'] = int(res == True)
df_final['WV July 30'] = df_final['WV July 30'].mean()

In [86]:
date1 = datetime.strptime('8/1/17', "%m/%d/%y")
date2 = datetime.strptime('8/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV August 30'] = int(res == True)
df_final['WV August 30'] = df_final['WV August 30'].mean()

In [87]:
date1 = datetime.strptime('9/1/17', "%m/%d/%y")
date2 = datetime.strptime('9/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV September 30'] = int(res == True)
df_final['WV September 30'] = df_final['WV September 30'].mean()

In [88]:
date1 = datetime.strptime('10/1/17', "%m/%d/%y")
date2 = datetime.strptime('10/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV October 30'] = int(res == True)
df_final['WV October 30'] = df_final['WV October 30'].mean()

In [89]:
date1 = datetime.strptime('11/1/17', "%m/%d/%y")
date2 = datetime.strptime('11/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV November 30'] = int(res == True)
df_final['WV November 30'] = df_final['WV November 30'].mean()

In [90]:
date1 = datetime.strptime('12/1/17', "%m/%d/%y")
date2 = datetime.strptime('12/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV December 30'] = int(res == True)
df_final['WV December 30'] = df_final['WV December 30'].mean()

In [91]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,WV March 30,WV April 30,WV May 30,WV June 30,WV July 30,WV August 30,WV September 30,WV October 30,WV November 30,WV December 30
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [92]:
date1 = datetime.strptime('1/1/17', "%m/%d/%y")
date2 = datetime.strptime('2/28/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV Jan-Feb 60'] = int(res == True)
df_final['WV Jan-Feb 60'] = df_final['WV Jan-Feb 60'].mean()

In [93]:
date1 = datetime.strptime('3/1/17', "%m/%d/%y")
date2 = datetime.strptime('4/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV March-April 60'] = int(res == True)
df_final['WV March-April 60'] = df_final['WV March-April 60'].mean()

In [94]:
date1 = datetime.strptime('5/1/17', "%m/%d/%y")
date2 = datetime.strptime('6/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV May-June 60'] = int(res == True)
df_final['WV May-June 60'] = df_final['WV May-June 60'].mean()

In [95]:
date1 = datetime.strptime('7/1/17', "%m/%d/%y")
date2 = datetime.strptime('8/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV July-August 60'] = int(res == True)
df_final['WV July-August 60'] = df_final['WV July-August 60'].mean()

/var/folders/p_/rr1hwkg50s1d8bw8c286g0ww0000gn/T/ipykernel_8926/1327486427.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final['WV July-August 60'] = int(res == True)

In [96]:
date1 = datetime.strptime('9/1/17', "%m/%d/%y")
date2 = datetime.strptime('10/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV September-October 60'] = int(res == True)
df_final['WV September-October 60'] = df_final['WV September-October 60'].mean()

/var/folders/p_/rr1hwkg50s1d8bw8c286g0ww0000gn/T/ipykernel_8926/3586595841.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final['WV September-October 60'] = int(res == True)

In [97]:
date1 = datetime.strptime('11/1/17', "%m/%d/%y")
date2 = datetime.strptime('12/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV November-December 60'] = int(res == True)
df_final['WV November-December 60'] = df_final['WV November-December 60'].mean()

/var/folders/p_/rr1hwkg50s1d8bw8c286g0ww0000gn/T/ipykernel_8926/592518216.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final['WV November-December 60'] = int(res == True)

In [98]:
df_final

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,WV September 30,WV October 30,WV November 30,WV December 30,WV Jan-Feb 60,WV March-April 60,WV May-June 60,WV July-August 60,WV September-October 60,WV November-December 60
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10414403,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2018-01-12,2017-06-15,PRICINGENGINE,211 days,314 days,19 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
10414404,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2018-01-05,2017-06-15,PRICINGENGINE,204 days,314 days,19 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
10414405,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2018-03-06,2017-06-15,PRICINGENGINE,264 days,314 days,19 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
10414406,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2017-12-01,2017-06-15,PRICINGENGINE,169 days,314 days,19 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
10414407,AC000017b9-3e7d-4133-9e59-ddddcb4a911d,2017-09-19,2017-06-15,PRICINGENGINE,96 days,314 days,19 days,0,0,0,...,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0

In [99]:
date1 = datetime.strptime('1/1/17', "%m/%d/%y")
date2 = datetime.strptime('3/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV Jan-March 90'] = int(res == True)
df_final['WV Jan-March 90'] = df_final['WV Jan-March 90'].mean()

/var/folders/p_/rr1hwkg50s1d8bw8c286g0ww0000gn/T/ipykernel_8926/2183475057.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final['WV Jan-March 90'] = int(res == True)

In [100]:
date1 = datetime.strptime('4/1/17', "%m/%d/%y")
date2 = datetime.strptime('6/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV April-June 90'] = int(res == True)
df_final['WV April-June 90'] = df_final['WV April-June 90'].mean()

/var/folders/p_/rr1hwkg50s1d8bw8c286g0ww0000gn/T/ipykernel_8926/1434259749.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final['WV April-June 90'] = int(res == True)

In [101]:
date1 = datetime.strptime('7/1/17', "%m/%d/%y")
date2 = datetime.strptime('9/30/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV July-Sept 90'] = int(res == True)
df_final['WV July-Sept 90'] = df_final['WV July-Sept 90'].mean()

/var/folders/p_/rr1hwkg50s1d8bw8c286g0ww0000gn/T/ipykernel_8926/1384315816.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final['WV July-Sept 90'] = int(res == True)

In [102]:
date1 = datetime.strptime('10/1/17', "%m/%d/%y")
date2 = datetime.strptime('12/31/17', "%m/%d/%y")
res = any(ele >= date1 and ele <= date2 for ele in df_final['webvisited_date'])
df_final['WV Oct-Dec 90'] = int(res == True)
df_final['WV Oct-Dec 90'] = df_final['WV Oct-Dec 90'].mean()

/var/folders/p_/rr1hwkg50s1d8bw8c286g0ww0000gn/T/ipykernel_8926/1821119164.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df_final['WV Oct-Dec 90'] = int(res == True)

In [103]:
df_final.head(10)

,ac_id,purchase_date,webvisited_date,visited_page,diff_dates,Max Date Diff,Min Date Diff,Purchase: 6/1/18,Purchase: 6/2/18,Purchase: 6/3/18,...,WV Jan-Feb 60,WV March-April 60,WV May-June 60,WV July-August 60,WV September-October 60,WV November-December 60,WV Jan-March 90,WV April-June 90,WV July-Sept 90,WV Oct-Dec 90
0,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-03-01,2017-06-15,PRICINGENGINE,259 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
1,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-11-12,2017-06-15,PRICINGENGINE,150 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
2,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-23,2017-06-15,PRICINGENGINE,222 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
3,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2017-12-04,2017-06-15,PRICINGENGINE,172 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
4,ACffffef1f-cfbc-4973-8926-35ef7a1491ab,2018-01-28,2017-06-15,PRICINGENGINE,227 days,259 days,150 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
5,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-04-27,2017-06-16,MYACCOUNT,315 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
6,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-06-16,MYACCOUNT,200 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
7,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2018-01-02,2017-05-31,MYACCOUNT,216 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
8,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-08-06,2017-05-31,MYACCOUNT,67 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0
9,ACffffd50a-291a-4067-92ae-9f8e8c629a9e,2017-11-26,2017-06-16,MYACCOUNT,163 days,331 days,51 days,0,0,0,...,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0

In [ ]:
df_final.to_csv('df_fe.txt', sep='\t')